@using Microsoft.AspNet.Identity
@model IEnumerable<System.Security.Claims.Claim>
<div>
    <p><h2>Welcome, @User.Identity.GetUserName()!</h2></p>
    <p>You have successfully signed in!</p>
    <p>Ready to document your project details? </p>
</div>
<!--<div class="row d-center">
    <div class="col-md-8">
        <dl class="dl-horizontal">
            @foreach (var claim in Model)
            {
                <dt title="@claim.Type">
                    @claim.Type
                    <button type="button"
                            class="btn btn-link btn-xs"
                            aria-label="Copy to clipboard"
                            title="Copy to clipboard"
                            data-clipboard-text="@claim.Value">
                        <span class="glyphicon glyphicon glyphicon-copy" aria-hidden="true"></span>
                    </button>
                </dt>

                <dd id="@String.Format("claim-{0}", claim.Type)" class="overflow-wrap">@claim.Value</dd>
            }
        </dl>
    </div>
</div>-->
<br></br>
    <div class="col-md-10">
        <div>

            @Html.ActionLink("Add Project Details", "ProjectStartView", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @id = "AddProjectBtn" }) <br></br>
            @Html.ActionLink("Show Project Details", "Project", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @id = "ShowProjectBtn" })<br></br>
            @Html.ActionLink("Update Project Details", "Project", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @id = "UpdateProjectBtn" })<br></br>

        </div>
    </div>


